*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	height: 100vh;
	align-items: center;        
	justify-content: center;
}

.balloon{
	background-color: red;
	min-width: 200px;
	width: 200px;
	max-width: 420px;
	min-height: 200px;
	height: 200px;
	max-height: 420px;
	border-radius: 50%;
}